.font{
font-family:'traditional_arabic';;font-weight:100;font-size: 13px;
}

@font-face {
	font-family: 'CellsEnglish';
	src: url('/cells_report/static/src/fonts/Campton-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	  }

@font-face {
	font-family: 'CellsArabic';
	src: url('/cells_report/static/src/fonts/din-next-lt-w23-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.arabic{
	font-family:CellsArabic !important;
}

.english{
	font-family:CellsEnglish !important;
}